@font-face {
  font-family: 'Kollektif-Bold';
  src: url('Kollektif-Bold.ttf');
}

@font-face {
  font-family: 'Kollektif-BoldItalic';
  src: url('Kollektif-BoldItalic.ttf');
}

@font-face {
  font-family: 'Kollektif-Italic';
  src: url('Kollektif-Italic.ttf');
}

@font-face {
  font-family: 'Kollektif';
  src: url('Kollektif.ttf');
}

@font-face {
  font-family: 'Atami';
  src: url('Atami-Regular.otf');
}

@font-face{
  font-family: 'Atami-Bold';
  src: url('Atami-Bold.otf');
}
