@font-face {
  font-family: 'Kollektif-Bold';
  src: url('Kollektif-Bold.ttf');
}

@font-face {
  font-family: 'Kollektif-BoldItalic';
  src: url('Kollektif-BoldItalic.ttf');
}

@font-face {
  font-family: 'Kollektif-Italic';
  src: url('Kollektif-Italic.ttf');
}

@font-face {
  font-family: 'Kollektif';
  src: url('Kollektif.ttf');
}

@font-face {
  font-family: 'Atami';
  src: url('Atami-Regular.otf');
}

@font-face {
  font-family: 'Atami-Bold';
  src: url('Atami-Bold.otf');
}

@font-face {
  font-family: 'Silka-Regular';
  src: url('silka-regular-webfont.ttf');
}

@font-face {
  font-family: 'Silka-Semibold';
  src: url('silka-semibold-webfont.ttf');
}

@font-face {
  font-family: 'SofiaPro-Regular';
  src: url('sofia_pro_regular-webfont.ttf');
}

@font-face {
  font-family: 'SofiaPro-Semibold';
  src: url('sofia_pro_semibold-webfont.ttf');
}
